/**********************************
FONTS
***********************************/

h1 {
    font-family: 'Oswald', sans-serif; 
    font-size: 70px;
    color: white;
}

h2 {
    font-family: 'Oswald', sans-serif; 
    color: #fff;
}

.OneHeading {
}

.TwoHeading {
}

.ThreeHeading {
    /* color: #2c3e50; */
}

.FourHeading {
}

.FiveHeading {
}

.SixHeading {
}

.SevenHeading {
}

.EightHeading {
    color: #313131;
}

.light {
    color: #313131;
}

p {
    font-family: 'Cabin', sans-serif;
    text-align: left;
    font-size: 22px;
    line-height: 32px;
    color: white;
}

.FourWrapper a {
    color: #B434A1;
}

/**********************************
GENERAL
***********************************/

body {
    margin: 0;
    background: #eee;
}

.screenshot {
    margin-top: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.logoKeele {
    padding-right: 10px;
}


.accordionHeading {
    font-family: 'Cabin', sans-serif;
    font-size: 16px;
}

.accordionDropdown{
    margin-top: 5px;
}

/**********************************
WRAPPERS
***********************************/

.OneWrapper {
    background: 
    /* top, transparent gradient */ 
    linear-gradient(
        rgba(0, 0, 0, 0.6) 0%, 
        rgba(49, 49, 49, 1) 95%
    ),
    /* bottom, image */
    url(../img/Background_Image_Min.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.TwoWrapper {
    background-color: #313131;
}

.ThreeWrapper {
    background-color: #313131;
}

.FourWrapper {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(../img/KeeleUni_Oct15_040.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
    
.FiveWrapper {
    background-color: #313131;
}

.SixWrapper {
    background:
    linear-gradient(
      rgba(0, 0, 0, 0.6), 
      rgba(0, 0, 0, 0.6)
    ),
    url(../img/KeeleUni_Oct15_034.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.SevenWrapper {
    background-color: #313131;
}

.EightWrapper {
    background-color: #fff;
}


/**********************************
CONTENT
***********************************/

.contentonly {
    margin: 0;
    padding: 100px 0 200px 0;
}

hr {
    background-color: white;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    background-color: #B434A1;
    border-color: #B434A1;
}

.btn-primary:hover {
    background-color: #832E79;
    border-color: #832E79;
}

.SevenWrapper .videobtn:visited {
    color: #fff;
    text-decoration: none;
}

/**********************************
NAV IMAGES
***********************************/

.headLogo {
    margin: 30px 0 0 35px;
    width: 200px;
}

#tracker {
    bottom: 0;
    height: 55%;
    left: 50%;
    margin: 0 auto 0 -490px;
    position: fixed;
    width: 100px;
}

.main-icon {
    font-size: 80px;
    padding: 100px 0 0 0;
    color: white;
}

.template-icon {
    font-size: 100px;
    padding-top: 20px;
    color: white;
}

/**********************************
SIZING
***********************************/

@media only screen and (max-width: 499px) {
    h1 {
        font-size: 60px;
    }
}

/**********************************
FOOTER
***********************************/

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #eee;
}

.text-align {
    font-size: 0.8em;
    padding-top: 20px;
    line-height: 120%;
    color: darkgrey;
}

a.skiplink:link {
    color: #B434A1;
}

a.skiplink:visited {
    color: #B434A1;
}

a.skiplink: active {
    color: #B434A1;
}

a.footerlink:link {
    color: #B434A1;
}

a.footerlink:visited {
    color: #B434A1;
}

a.footerlink:active {
    color: #B434A1  ;
}

/**********************************
PROGRESS BAR
***********************************/

progress {
  /* Positioning */
  position: fixed;
  left: 0;
  top: 0;

  /* Dimensions */
  width: 100%;
  height: .50em;

  /* Reset the apperance */  
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;

  /* Get rid of the default border in Firefox/Opera. */
  border: none;

  /* For Firefox/IE10+ */
  background-color: transparent;

  /* For IE10+, color of the progress bar */
  color: #bc3084;
}

progress::-webkit-progress-bar {
  background-color: transparent;
}

.flat::-webkit-progress-value {
  background-color: #B434A1;
}

.flat::-moz-progress-bar {
  background-color: #B434A1;
}

.single::-webkit-progress-value {
  background-color: transparent;
  background-image: -webkit-linear-gradient(left, transparent, #B434A1);
}

.single::-moz-progress-bar {
  background-color: transparent;
  background-image: -moz-linear-gradient(left, transparent, #B434A1);
}

.multiple::-webkit-progress-value {
  background-image: -webkit-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -webkit-linear-gradient(left, green, #B434A1);
}

.multiple::-moz-progress-bar {
  background-image: -moz-linear-gradient(-45deg, 
                               transparent 33%, rgba(0, 0, 0, .1) 33%, 
                               rgba(0,0, 0, .1) 66%, transparent 66%),
                      -moz-linear-gradient(left, green, #B434A1);
}

.progress-container {
  width: 100%;
  background-color: transparent;
  position: fixed;
  top: 0;
  left: 0;
  height: .50em;
  display: block;
}

.progress-bar {
  background-color: #B434A1;
  width: 50%;
  display: block;
  height: inherit;
}
